In [19]:
import pandas_datareader.data as web
from decouple import config
import numpy as np
import pandas as pd
import os
import tarfile
import urllib
import matplotlib.pyplot as plt

In [1]:
start_date = "2000-01-1"
end_date = "2020-12-31"

In [2]:
# data = web.DataReader(name="TSLA", data_source="yahoo", start=start_date, end=end_date)
# print(data)

In [3]:
import pandas_datareader as pdr
# df = pdr.get_data_tiingo('TSLA', api_key=config('API_KEY'))
#'7454d37c90e364645d202d5fbed27ca46847dc21'

In [4]:
# print(df)

In [5]:
# KO = pdr.get_data_tiingo('KO', api_key=config('API_KEY'))

In [6]:
# print(KO)

In [7]:
KOpart2 = pdr.get_data_tiingo('KO', start="2000-01-1", end='2021-11-22', api_key=config('API_KEY'))

NameError: name 'config' is not defined

In [10]:
print(KOpart2)

                                  close    high      low   open    volume  \
symbol date
KO     2000-01-03 00:00:00+00:00  56.25  58.000  55.2500  57.31   5498500
       2000-01-04 00:00:00+00:00  56.44  56.810  55.6300  55.75   3654000
       2000-01-05 00:00:00+00:00  57.06  57.440  56.0600  56.44   4728700
       2000-01-06 00:00:00+00:00  57.00  57.690  56.5600  57.06   3564600
       2000-01-07 00:00:00+00:00  60.75  60.750  57.8800  58.50   5737000
...                                 ...     ...      ...    ...       ...
       2021-11-15 00:00:00+00:00  56.62  56.680  56.2700  56.53  10289188
       2021-11-16 00:00:00+00:00  56.22  56.940  56.1850  56.62  13756461
       2021-11-17 00:00:00+00:00  55.91  56.050  55.6500  56.04  13288677
       2021-11-18 00:00:00+00:00  55.41  55.930  55.1400  55.83  15380377
       2021-11-19 00:00:00+00:00  55.13  55.485  54.9047  55.44  15813660

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
KO     2000-01-03 00:00:00+00:00  15.552785  16.036649  15.276291  15.845868
       2000-01-04 00:00:00+00:00  15.605319  15.707621  15.381359  15.414538
       2000-01-05 00:00:00+00:00  15.776745  15.881813  15.500251  15.605319
       2000-01-06 00:00:00+00:00  15.760155  15.950936  15.638498  15.776745
       2000-01-07 00:00:00+00:00  16.797008  16.797008  16.003470  16.174896
...                                     ...        ...        ...        ...
       2021-11-15 00:00:00+00:00  56.620000  56.680000  56.270000  56.530000
       2021-11-16 00:00:00+00:00  56.220000  56.940000  56.185000  56.620000
       2021-11-17 00:00:00+00:00  55.910000  56.050000  55.650000  56.040000
       2021-11-18 00:00:00+00:00  55.410000  55.930000  55.140000  55.830000
       2021-11-19 00:00:00+00:00  55.130000  55.485000  54.904700  55.440000

                                  adjVolume  divCash  splitFactor
symbol date
KO     2000-01-03 00:00:00+00:00   10997000      0.0          1.0
       2000-01-04 00:00:00+00:00    7308000      0.0          1.0
       2000-01-05 00:00:00+00:00    9457400      0.0          1.0
       2000-01-06 00:00:00+00:00    7129200      0.0          1.0
       2000-01-07 00:00:00+00:00   11474000      0.0          1.0
...                                     ...      ...          ...
       2021-11-15 00:00:00+00:00   10289188      0.0          1.0
       2021-11-16 00:00:00+00:00   13756461      0.0          1.0
       2021-11-17 00:00:00+00:00   13288677      0.0          1.0
       2021-11-18 00:00:00+00:00   15380377      0.0          1.0
       2021-11-19 00:00:00+00:00   15813660      0.0          1.0

[5508 rows x 12 columns]

In [11]:
KOpart2

                                  close    high      low   open    volume  \
symbol date
KO     2000-01-03 00:00:00+00:00  56.25  58.000  55.2500  57.31   5498500
       2000-01-04 00:00:00+00:00  56.44  56.810  55.6300  55.75   3654000
       2000-01-05 00:00:00+00:00  57.06  57.440  56.0600  56.44   4728700
       2000-01-06 00:00:00+00:00  57.00  57.690  56.5600  57.06   3564600
       2000-01-07 00:00:00+00:00  60.75  60.750  57.8800  58.50   5737000
...                                 ...     ...      ...    ...       ...
       2021-11-15 00:00:00+00:00  56.62  56.680  56.2700  56.53  10289188
       2021-11-16 00:00:00+00:00  56.22  56.940  56.1850  56.62  13756461
       2021-11-17 00:00:00+00:00  55.91  56.050  55.6500  56.04  13288677
       2021-11-18 00:00:00+00:00  55.41  55.930  55.1400  55.83  15380377
       2021-11-19 00:00:00+00:00  55.13  55.485  54.9047  55.44  15813660

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
KO     2000-01-03 00:00:00+00:00  15.552785  16.036649  15.276291  15.845868
       2000-01-04 00:00:00+00:00  15.605319  15.707621  15.381359  15.414538
       2000-01-05 00:00:00+00:00  15.776745  15.881813  15.500251  15.605319
       2000-01-06 00:00:00+00:00  15.760155  15.950936  15.638498  15.776745
       2000-01-07 00:00:00+00:00  16.797008  16.797008  16.003470  16.174896
...                                     ...        ...        ...        ...
       2021-11-15 00:00:00+00:00  56.620000  56.680000  56.270000  56.530000
       2021-11-16 00:00:00+00:00  56.220000  56.940000  56.185000  56.620000
       2021-11-17 00:00:00+00:00  55.910000  56.050000  55.650000  56.040000
       2021-11-18 00:00:00+00:00  55.410000  55.930000  55.140000  55.830000
       2021-11-19 00:00:00+00:00  55.130000  55.485000  54.904700  55.440000

                                  adjVolume  divCash  splitFactor
symbol date
KO     2000-01-03 00:00:00+00:00   10997000      0.0          1.0
       2000-01-04 00:00:00+00:00    7308000      0.0          1.0
       2000-01-05 00:00:00+00:00    9457400      0.0          1.0
       2000-01-06 00:00:00+00:00    7129200      0.0          1.0
       2000-01-07 00:00:00+00:00   11474000      0.0          1.0
...                                     ...      ...          ...
       2021-11-15 00:00:00+00:00   10289188      0.0          1.0
       2021-11-16 00:00:00+00:00   13756461      0.0          1.0
       2021-11-17 00:00:00+00:00   13288677      0.0          1.0
       2021-11-18 00:00:00+00:00   15380377      0.0          1.0
       2021-11-19 00:00:00+00:00   15813660      0.0          1.0

[5508 rows x 12 columns]

In [12]:
KOpart2.head(15)

                                  close   high    low   open   volume  \
symbol date
KO     2000-01-03 00:00:00+00:00  56.25  58.00  55.25  57.31  5498500
       2000-01-04 00:00:00+00:00  56.44  56.81  55.63  55.75  3654000
       2000-01-05 00:00:00+00:00  57.06  57.44  56.06  56.44  4728700
       2000-01-06 00:00:00+00:00  57.00  57.69  56.56  57.06  3564600
       2000-01-07 00:00:00+00:00  60.75  60.75  57.88  58.50  5737000
       2000-01-10 00:00:00+00:00  58.81  60.94  58.75  60.50  4361900
       2000-01-11 00:00:00+00:00  60.81  61.25  60.13  60.94  4699000
       2000-01-12 00:00:00+00:00  61.50  61.81  60.44  60.81  4194900
       2000-01-13 00:00:00+00:00  60.56  61.44  60.44  61.44  3053000
       2000-01-14 00:00:00+00:00  61.06  61.94  60.69  61.94  3756600
       2000-01-18 00:00:00+00:00  65.00  65.00  61.06  61.31  9175400
       2000-01-19 00:00:00+00:00  65.25  65.25  63.75  65.00  6406700
       2000-01-20 00:00:00+00:00  65.88  65.94  65.13  65.31  5769900
       2000-01-21 00:00:00+00:00  66.88  66.88  65.75  66.75  5692900
       2000-01-24 00:00:00+00:00  64.88  66.75  63.56  66.00  5653000

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
KO     2000-01-03 00:00:00+00:00  15.552785  16.036649  15.276291  15.845868
       2000-01-04 00:00:00+00:00  15.605319  15.707621  15.381359  15.414538
       2000-01-05 00:00:00+00:00  15.776745  15.881813  15.500251  15.605319
       2000-01-06 00:00:00+00:00  15.760155  15.950936  15.638498  15.776745
       2000-01-07 00:00:00+00:00  16.797008  16.797008  16.003470  16.174896
       2000-01-10 00:00:00+00:00  16.260609  16.849541  16.244020  16.727884
       2000-01-11 00:00:00+00:00  16.813597  16.935255  16.625581  16.849541
       2000-01-12 00:00:00+00:00  17.004378  17.090091  16.711294  16.813597
       2000-01-13 00:00:00+00:00  16.744474  16.987788  16.711294  16.987788
       2000-01-14 00:00:00+00:00  16.882721  17.126035  16.780418  17.126035
       2000-01-18 00:00:00+00:00  17.972107  17.972107  16.882721  16.951844
       2000-01-19 00:00:00+00:00  18.041230  18.041230  17.626489  17.972107
       2000-01-20 00:00:00+00:00  18.215422  18.232011  18.008051  18.057820
       2000-01-21 00:00:00+00:00  18.491915  18.491915  18.179477  18.455971
       2000-01-24 00:00:00+00:00  17.938928  18.455971  17.573956  18.248601

                                  adjVolume  divCash  splitFactor
symbol date
KO     2000-01-03 00:00:00+00:00   10997000      0.0          1.0
       2000-01-04 00:00:00+00:00    7308000      0.0          1.0
       2000-01-05 00:00:00+00:00    9457400      0.0          1.0
       2000-01-06 00:00:00+00:00    7129200      0.0          1.0
       2000-01-07 00:00:00+00:00   11474000      0.0          1.0
       2000-01-10 00:00:00+00:00    8723800      0.0          1.0
       2000-01-11 00:00:00+00:00    9398000      0.0          1.0
       2000-01-12 00:00:00+00:00    8389800      0.0          1.0
       2000-01-13 00:00:00+00:00    6106000      0.0          1.0
       2000-01-14 00:00:00+00:00    7513200      0.0          1.0
       2000-01-18 00:00:00+00:00   18350800      0.0          1.0
       2000-01-19 00:00:00+00:00   12813400      0.0          1.0
       2000-01-20 00:00:00+00:00   11539800      0.0          1.0
       2000-01-21 00:00:00+00:00   11385800      0.0          1.0
       2000-01-24 00:00:00+00:00   11306000      0.0          1.0

In [13]:
KOpart2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5508 entries, ('KO', Timestamp('2000-01-03 00:00:00+0000', tz='UTC')) to ('KO', Timestamp('2021-11-19 00:00:00+0000', tz='UTC'))
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   close        5508 non-null   float64
 1   high         5508 non-null   float64
 2   low          5508 non-null   float64
 3   open         5508 non-null   float64
 4   volume       5508 non-null   int64
 5   adjClose     5508 non-null   float64
 6   adjHigh      5508 non-null   float64
 7   adjLow       5508 non-null   float64
 8   adjOpen      5508 non-null   float64
 9   adjVolume    5508 non-null   int64
 10  divCash      5508 non-null   float64
 11  splitFactor  5508 non-null   float64
dtypes: float64(10), int64(2)
memory usage: 575.7+ KB

In [15]:
KOpart2.isna().sum()

close          0
high           0
low            0
open           0
volume         0
adjClose       0
adjHigh        0
adjLow         0
adjOpen        0
adjVolume      0
divCash        0
splitFactor    0
dtype: int64

In [20]:

#Calculating means
for i in KOpart2.columns:
    print(f"The mean of {i}: {round(pd.to_numeric(KOpart2[i], errors='coerce').mean(),2)}")

The mean of close: 49.06
The mean of high: 49.43
The mean of low: 48.65
The mean of open: 49.04
The mean of volume: 10343592.29
The mean of adjClose: 26.28
The mean of adjHigh: 26.47
The mean of adjLow: 26.08
The mean of adjOpen: 26.28
The mean of adjVolume: 14720928.95
The mean of divCash: 0.01
The mean of splitFactor: 1.0

In [22]:
KOpart2.values

array([[5.6250000e+01, 5.8000000e+01, 5.5250000e+01, ..., 1.0997000e+07,
        0.0000000e+00, 1.0000000e+00],
       [5.6440000e+01, 5.6810000e+01, 5.5630000e+01, ..., 7.3080000e+06,
        0.0000000e+00, 1.0000000e+00],
       [5.7060000e+01, 5.7440000e+01, 5.6060000e+01, ..., 9.4574000e+06,
        0.0000000e+00, 1.0000000e+00],
       ...,
       [5.5910000e+01, 5.6050000e+01, 5.5650000e+01, ..., 1.3288677e+07,
        0.0000000e+00, 1.0000000e+00],
       [5.5410000e+01, 5.5930000e+01, 5.5140000e+01, ..., 1.5380377e+07,
        0.0000000e+00, 1.0000000e+00],
       [5.5130000e+01, 5.5485000e+01, 5.4904700e+01, ..., 1.5813660e+07,
        0.0000000e+00, 1.0000000e+00]])

In [23]:
KOpart2.index

MultiIndex([('KO', '2000-01-03 00:00:00+00:00'),
            ('KO', '2000-01-04 00:00:00+00:00'),
            ('KO', '2000-01-05 00:00:00+00:00'),
            ('KO', '2000-01-06 00:00:00+00:00'),
            ('KO', '2000-01-07 00:00:00+00:00'),
            ('KO', '2000-01-10 00:00:00+00:00'),
            ('KO', '2000-01-11 00:00:00+00:00'),
            ('KO', '2000-01-12 00:00:00+00:00'),
            ('KO', '2000-01-13 00:00:00+00:00'),
            ('KO', '2000-01-14 00:00:00+00:00'),
            ...
            ('KO', '2021-11-08 00:00:00+00:00'),
            ('KO', '2021-11-09 00:00:00+00:00'),
            ('KO', '2021-11-10 00:00:00+00:00'),
            ('KO', '2021-11-11 00:00:00+00:00'),
            ('KO', '2021-11-12 00:00:00+00:00'),
            ('KO', '2021-11-15 00:00:00+00:00'),
            ('KO', '2021-11-16 00:00:00+00:00'),
            ('KO', '2021-11-17 00:00:00+00:00'),
            ('KO', '2021-11-18 00:00:00+00:00'),
            ('KO', '2021-11-19 00:00:00+00:00')],
           names=['symbol', 'date'], length=5508)

In [37]:
index = pd.MultiIndex.from_tuples(KOpart2.index)

In [45]:
KOpart2.index.names

FrozenList(['symbol', 'date'])

In [32]:
index

MultiIndex([('KO', '2000-01-03 00:00:00+00:00'),
            ('KO', '2000-01-04 00:00:00+00:00'),
            ('KO', '2000-01-05 00:00:00+00:00'),
            ('KO', '2000-01-06 00:00:00+00:00'),
            ('KO', '2000-01-07 00:00:00+00:00'),
            ('KO', '2000-01-10 00:00:00+00:00'),
            ('KO', '2000-01-11 00:00:00+00:00'),
            ('KO', '2000-01-12 00:00:00+00:00'),
            ('KO', '2000-01-13 00:00:00+00:00'),
            ('KO', '2000-01-14 00:00:00+00:00'),
            ...
            ('KO', '2021-11-08 00:00:00+00:00'),
            ('KO', '2021-11-09 00:00:00+00:00'),
            ('KO', '2021-11-10 00:00:00+00:00'),
            ('KO', '2021-11-11 00:00:00+00:00'),
            ('KO', '2021-11-12 00:00:00+00:00'),
            ('KO', '2021-11-15 00:00:00+00:00'),
            ('KO', '2021-11-16 00:00:00+00:00'),
            ('KO', '2021-11-17 00:00:00+00:00'),
            ('KO', '2021-11-18 00:00:00+00:00'),
            ('KO', '2021-11-19 00:00:00+00:00')],
           length=5508)

In [33]:
newKO = KOpart2.reindex(index)
newKO

                              close    high      low   open    volume  \
KO 2000-01-03 00:00:00+00:00  56.25  58.000  55.2500  57.31   5498500
   2000-01-04 00:00:00+00:00  56.44  56.810  55.6300  55.75   3654000
   2000-01-05 00:00:00+00:00  57.06  57.440  56.0600  56.44   4728700
   2000-01-06 00:00:00+00:00  57.00  57.690  56.5600  57.06   3564600
   2000-01-07 00:00:00+00:00  60.75  60.750  57.8800  58.50   5737000
...                             ...     ...      ...    ...       ...
   2021-11-15 00:00:00+00:00  56.62  56.680  56.2700  56.53  10289188
   2021-11-16 00:00:00+00:00  56.22  56.940  56.1850  56.62  13756461
   2021-11-17 00:00:00+00:00  55.91  56.050  55.6500  56.04  13288677
   2021-11-18 00:00:00+00:00  55.41  55.930  55.1400  55.83  15380377
   2021-11-19 00:00:00+00:00  55.13  55.485  54.9047  55.44  15813660

                               adjClose    adjHigh     adjLow    adjOpen  \
KO 2000-01-03 00:00:00+00:00  15.552785  16.036649  15.276291  15.845868
   2000-01-04 00:00:00+00:00  15.605319  15.707621  15.381359  15.414538
   2000-01-05 00:00:00+00:00  15.776745  15.881813  15.500251  15.605319
   2000-01-06 00:00:00+00:00  15.760155  15.950936  15.638498  15.776745
   2000-01-07 00:00:00+00:00  16.797008  16.797008  16.003470  16.174896
...                                 ...        ...        ...        ...
   2021-11-15 00:00:00+00:00  56.620000  56.680000  56.270000  56.530000
   2021-11-16 00:00:00+00:00  56.220000  56.940000  56.185000  56.620000
   2021-11-17 00:00:00+00:00  55.910000  56.050000  55.650000  56.040000
   2021-11-18 00:00:00+00:00  55.410000  55.930000  55.140000  55.830000
   2021-11-19 00:00:00+00:00  55.130000  55.485000  54.904700  55.440000

                              adjVolume  divCash  splitFactor
KO 2000-01-03 00:00:00+00:00   10997000      0.0          1.0
   2000-01-04 00:00:00+00:00    7308000      0.0          1.0
   2000-01-05 00:00:00+00:00    9457400      0.0          1.0
   2000-01-06 00:00:00+00:00    7129200      0.0          1.0
   2000-01-07 00:00:00+00:00   11474000      0.0          1.0
...                                 ...      ...          ...
   2021-11-15 00:00:00+00:00   10289188      0.0          1.0
   2021-11-16 00:00:00+00:00   13756461      0.0          1.0
   2021-11-17 00:00:00+00:00   13288677      0.0          1.0
   2021-11-18 00:00:00+00:00   15380377      0.0          1.0
   2021-11-19 00:00:00+00:00   15813660      0.0          1.0

[5508 rows x 12 columns]

In [46]:
newKO['close']

KO  2000-01-03 00:00:00+00:00    56.25
    2000-01-04 00:00:00+00:00    56.44
    2000-01-05 00:00:00+00:00    57.06
    2000-01-06 00:00:00+00:00    57.00
    2000-01-07 00:00:00+00:00    60.75
                                 ...
    2021-11-15 00:00:00+00:00    56.62
    2021-11-16 00:00:00+00:00    56.22
    2021-11-17 00:00:00+00:00    55.91
    2021-11-18 00:00:00+00:00    55.41
    2021-11-19 00:00:00+00:00    55.13
Name: close, Length: 5508, dtype: float64